main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.navbar {
}

.my-switch {
    padding-top: 6px;
}

.my-switch .form-switch {
    margin: 3px 0px 0 15px;
}
