html, body {
    width: 100%;
    height: 100%;
--text-color-normal: #0a244d;
    --text-color-light: #8cabd9;}

.app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
}

main {
    grid-area: main;
}

header {
    grid-area: header;
    padding: 0.5rem;
}

footer {
    grid-area: footer;
    padding: 0.5rem;
}

.dark {
    color: #eee !important;
    background: #121212 !important;
    background-color: #121212 !important;
}

h1 {
    text-align: center;
    padding-bottom: 1rem;
}